{% extends 'base.html.twig' %}

{% block title %}Modifier consultation{% endblock %}

{% block body %}
    <h1>Modifier consultation</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Modifier</button>
    {{ form_end(form) }}

    <a href="{{ path('admin_consultation_index') }}">Retour</a>
{% endblock %}
