<form method="post" action="{{ path('app_specialite_delete', {'id': specialite.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette spécialité ?');" style="display: inline-block;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ specialite.id) }}">
    
    {# C'est ici que la magie opère pour le style rouge #}
    <button class="btn btn-danger btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-trash"></i>
        </span>
        <span class="text">Supprimer</span>
    </button>
</form>