{% extends 'base.html.twig' %}

{% block sidebar %}
    {% include 'titulaire/_partials/_sidebar.html.twig' %}
{% endblock %}

{% block title %}Nouveau Paiement{% endblock %}

{% block body %}
    <h1>Effectuer un Paiement</h1>

    {{ include('titulaire/paiement/_form.html.twig') }}

    <a href="{{ path('app_patient_paiement_index') }}">Retour à la liste</a>
{% endblock %}