{% extends 'admin/base_admin.html.twig' %}

{% block title %}Tableau de Bord{% endblock %}

{% block body %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Tableau de Bord</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Générer un rapport
        </a>
    </div>

    <div class="row mb-4">
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card shadow h-100 py-2 bg-dark-card border-left-primary">
            <div class="card-body">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Consultations aujourd'hui</div>
                <div class="h5 mb-0 font-weight-bold text-white">{{ consultsToday }}</div>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card shadow h-100 py-2 bg-dark-card border-left-info">
            <div class="card-body">
                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Dossiers mis à jour</div>
                <div class="h5 mb-0 font-weight-bold text-white">{{ dossiersCount }}</div>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-md-12 mb-4">
        <div class="card shadow h-100 py-2 bg-dark-card border-left-warning">
            <div class="card-body">
                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Rendez-vous prévus</div>
                <div class="h5 mb-0 font-weight-bold text-white">{{ rdvsToday }}</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}