{% extends 'base.html.twig' %}

{% block title %}Mes Factures{% endblock %}

{% block body %}
    <h1>Mes Factures</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Montant</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for facture in factures %}
            <tr>
                <td>{{ facture.id }}</td>
                <td>{{ facture.montant }} DT</td>
                <td>{{ facture.date ? facture.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_patient_facture_show', {'id': facture.id}) }}" class="btn btn-info">Voir</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune facture trouvée.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}