{% extends 'admin/base_admin.html.twig' %}

{% block title %}Nouvelle Disponibilité{% endblock %}

{% block body %}
    <div class="container-fluid">
        {# Titre de la page #}
        <h1 class="h3 mb-4 text-gray-800">Créer une nouvelle disponibilité</h1>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Formulaire d'ajout</h6>
            </div>
            <div class="card-body">
                {# Inclusion du formulaire #}
                <div class="mb-4">
                    {{ include('disponibilite/_form.html.twig') }}
                </div>

                {# Séparateur visuel #}
                <hr>

                {# Bouton Retour stylisé #}
                <a href="{{ path('app_disponibilite_index') }}" class="btn btn-secondary btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-arrow-left"></i>
                    </span>
                    <span class="text">Retour à la liste</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}