<footer class="sticky-footer" style="background-color: #f8f9fc; border-top: 2px solid #e0f2f1;">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span style="color: #78909c; font-size: 0.85rem;">
                <i class="fas fa-heartbeat mr-1" style="color: #0097a7;"></i>
                Copyright &copy; Clinique 360 - {{ "now"|date("Y") }}
            </span>
        </div>
    </div>
</footer>
